_code
_cover_letters
_data
_ms
_pres
_reviews
_submission_files
_todo_list_20210726.txt
__packages
_appendix_2 - after Matt review.docx
_appendix_2 - revised for Sophia.docx
_string_match_full_output.csv
_txt
_dead_donor_manuscript_AS_SUBMITTED.docx
.DS_Store
.Rhistory .Rproj.user

# Created by https://www.toptal.com/developers/gitignore/api/r
# Edit at https://www.toptal.com/developers/gitignore?templates=r

### R ###
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

### R.Bookdown Stack ###
# R package: bookdown caching files
/*_files/

# End of https://www.toptal.com/developers/gitignore/api/r
_round_4_coded_save.csv
_translated_new_codes.csv
dead_donor_manuscript_RR_changes.docx
ms_rr/dead_donor_manuscript_rr_changes_back.docx
_dead_donor_manuscript_AS_SUBMITTED.docx
dead_donor_manuscript_RR_clean.docx
dead_donor_manuscript_RR_clean.docx.bak
dead_donor_manuscript_rr_changes_back.docx
dead_donor_manuscript_rr_changes_back.docx.bak
ms_rr/_readme.md
ms_rr/_dead_donor_manuscript_RR_markup.docx
